html,
body,
#app,
#app > div {
  height: 100%;
  background-image: url("./images/prism.png");
}

@font-face {
  font-family: acid;
  src: url(./fonts/acid_medium.otf);
}

.title {
  color: white;
  font-family: acid;
  text-align: center;
  font-size: 80pt;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 75%;
}

.bottom__button {
  text-align: center;
}
