.title {
  font-size: 25pt;
  border: 5px solid turquoise;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid orange;
  width: 75%;
}

.graph {
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
