.title {
  color: white;
  font-family: acid;
  text-align: center;
  font-size: 80pt;
  margin-left: auto;
  margin-right: auto;
}

.globalstats {
  background-color: white;
  border: 5px solid black;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  table-layout: fixed;
}

.scrolltable {
  overflow: auto;
  height: 250px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 5px solid black;
  text-align: center;
}

.scrolltable__history {
  width: 100%;
}

.graph {
  background-color: white;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
